version: '3.9'

services:
  db:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_DB: YoloGeminiAI
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: Dominos@25
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

  backend:
    build:
      context: ./backend
    restart: always
    env_file: .env
    volumes:
      - ./backend:/app
      - ./backend/media:/app/media
    ports:
      - "8000:8000"
    depends_on:
      - db
    command: ["./wait-for-it.sh", "db:5432", "--", "gunicorn", "backend.wsgi:application", "--bind", "0.0.0.0:8000"]

  frontend:
    build:
      context: ./frontend
    restart: always
    env_file: .env
    volumes:
      - ./frontend:/app
      - frontend_node_modules:/app/node_modules
    ports:
      - "3000:3000"
    depends_on:
      - backend

volumes:
  db_data:
  frontend_node_modules:
